:root {

    --primaryColor: rgb(20, 20, 20);
    --secondaryColor: blue;
    --accentColor: green;
    --whiteCustom: rgb(254, 254, 254);
    --blackCustom: rgb(10, 10, 10);

}

.body {

    overflow-x: hidden;

}

/* cursore negativo */
body {             
    cursor: none;      
} 

#myCustomCursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
    transition-timing-function: ease-out;
    z-index: 99999;
}

#myCustomCursor.myCursorHoverState {
    width: 160px;
    height: 160px;
    background: black;
}

/* fine cursore negativo */

h1 {
    /*rivedere font!*/
    font-family: 'Poppins', sans-serif;
    color: var(--primaryColor);
    font-size: 150px;
    font-weight: 500;
    margin-top: 12%;
}

.p-text-custom {
    font-size: 30px;
    font-weight: 400;
}

.p-text-custom2 {
    font-size: 31px;
    font-weight: 400;
    color: black;
}


/*google fonts*/
.titolino {
    font-family: 'Passion One', cursive;
    font-size: 30px;

}

.colorino {
    color: black;
    font-size: 23px;
    font-weight: 500;
    transition: 0.5s;
}

.colorino:hover {
    color: black;
    border-bottom: solid 1px black;
}

.positiontext {
    width: 95%;
}

.videocustom {
    width: 95%;
    cursor: pointer;
}

.videocustom2 {
    cursor: pointer;
}

.underline-custom {

    text-decoration: underline;
    transition: 0.5s;
    color: black;

}

.underline-custom:hover {

    color: rgb(85, 85, 85);

}

.paragrafo-custom {

    position: absolute;
    top: 30px;
    left: -10px;

}

.backgroundCustom {
    background-color: whitesmoke;
}

.img-small {
    height: 94px;
}

.join {
    font-weight: 400;
}