body {


    overflow-x: hidden;

} 




:root {

    --primaryColor: rgb(20, 20, 20);
    --secondaryColor: blue;
    --accentColor: green;
    --whiteCustom: rgb(254, 254, 254);
    --blackCustom: rgb(10, 10, 10);

}

.cursorpointer{
    cursor: pointer;
}

.cursordefault{
    cursor: default;
}


/* cursore negativo */
* {
    cursor: none;
}

#myCustomCursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    top: var(--y, 0);
    left: var(--x, 0);
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
    transition-timing-function: ease-out;
    z-index: 99999;
}

#myCustomCursor.myCursorHoverState {
    width: 160px;
    height: 160px;
    background: black;
}

/* fine cursore negativo */

h1 {
    /*rivedere font!*/
    font-family: 'Poppins', sans-serif;
    color: var(--primaryColor);
    font-size: 150px;
    font-weight: 500;
    margin-top: 12%;
}

.p-text-custom {
    font-size: 30px;
    font-weight: 400;
}

.p-text-custom2 {
    font-size: 31px;
    font-weight: 400;
    color: black;
}


/*google fonts*/
.titolino {
    font-family: 'Passion One', cursive;
    font-size: 30px;

}

.colorino {
    color: black;
    font-size: 23px;
    font-weight: 500;
    transition: 0.5s;
}

.colorino:hover {
    color: black;
    border-bottom: solid 1px black;
}

.positiontext {
    width: 95%;
}

.videocustom {
    width: 95%;
}

.underline-custom {

    text-decoration: underline;
    transition: 0.5s;
    color: black;

}

.underline-custom:hover {

    color: rgb(85, 85, 85);

}

.paragrafo-custom {

    position: absolute;
    top: 30px;
    left: -10px;

}

.backgroundCustom {
    background-color: whitesmoke;
}

.img-small {
    height: 94px;
}

.join {
    font-weight: 400;
}

/* EMAIL */

.email-custom {

    width: 400px;
    height: 70px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 25px;
    border-color: #141414;
    font-size: x-large;

}


.email-custom::-webkit-input-placeholder {

    color: #1c1b1bee;
    font-weight: 500;
}

.email-custom:focus {

    outline: none;
}

.button-email-custom {

    border: 2px solid black;
    height: 60px;
    width: 300px;
    margin-left: 3%;
    background-color: white;
    font-size: 27px;
    cursor: none !important;

}

.button-email-custom a {

    text-decoration: none;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

/* .pallino{
    height: 25px;
    width: 100px;
} */
.p-text-custom-3 {
    font-size: 31px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    list-style: none;

}

.collegamenti {
    height: 50px;
}

.p-text-custom-3:hover {
    color: black;
}


.backgroundfooter {
    background-color: black;
    margin-top: 100px !important;
    /* height: 100vh; */
}

.font-size {
    font-size: 60px;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 60px;
}

.footer-link:hover {
    color: white;
    text-decoration: none;
    font-size: 60px;
}


.hr {

    border-color: white;
    opacity: 1 !important;


}

.lenghttext {

    width: 100%;


}

.img-custom {

    height: 20%;
    width: 20%;
    background-image: url(/Media/Hyperfocus-Circle-Logo-500x500-1.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

hr {

    border-color: white;

    height: 2px;

}

.text-footer-custom {

    font-size: 22px;
  


}