:root{

    --primaryColor: rgb(20, 20, 20);;
    --secondaryColor: blue;
    --accentColor: green;
    --whiteCustom: rgb(254, 254, 254);
    --blackCustom: rgb(20, 20, 20);

}

h1{
    /*rivedere font!*/
    font-family: 'Lato', sans-serif;
    color: var(--primaryColor);
    font-size: 120px
    
}
/*google fonts*/
.titolino{
      font-family: 'Passion One', cursive;
      font-size: 30px;
      
}
.colorino{
    color: var(--blackCustom);
   
}
.positiontext{
   
   position: fixed;
   right: 20px;
}