
*{

    font-family: 'Poppins', sans-serif;

}



.bg-header-custom {


    background-color: #141414;

}



.title-custom {

    font-size: 100px;

}

.bg-custom {

    background-color: #141414;


}

.colorino2 {
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 500;
    transition: 0.5s;
}

.colorino2:hover {
    color: rgb(255, 255, 255);
    border-bottom: solid 1px rgb(255, 255, 255);
}

.text-p-custom{

    font-size: 23px;

}

.color-white-custom {

    border-color: white;
    opacity: 1;
    color: white;

}

.space-custom {

    padding-top: 85px;
}

.img-personale-1{

    display: flex;
    flex-direction: column;
    width: 60%;

}

.img-descriptions{

    font-size: 20px;
    text-align: left;

}

.row {
    
    display: flex;
}
  
.column {

    flex: 33.33%;
    
}
